<html>    
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>ATX Shared Mobility Dashboard</title>
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.4.1/lux/bootstrap.min.css" rel="stylesheet" integrity="sha384-oOs/gFavzADqv3i5nCM+9CzXe3e5vXLXZ5LZ7PplpsWpTCufB7kqkTlC9FtZ5nJo" crossorigin="anonymous">
        <link rel="stylesheet" href="../css/font-awesome-4.7.0/css/font-awesome.min.css">        
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark"> 
            <a class="navbar-brand" href="#index.html"><i class="fa fa-home fa-lg" aria-hidden="true"></i>&nbsp; Home</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span>
            </button>
                <ul class="nav navbar-nav navbar-right ">
                    <li class="nav-item">
                        <a class="navbar-brand" href="https://github.com/sheetalbongale/Scooters-In-Austin-Data-Analysis"><i class="fa fa-github" aria-hidden="true"></i>&nbsp; Data Analysis</a>
                    </li>
                </ul>
        </nav>
        <div class="jumbotron">
        <div class="container-fluid">
        <h2><center>What locations in Austin get the most complaints about shared mobility?</center></h2>
        <div id="map">
            <script>
                Plotly.plot("map", {{ plot_data | safe }})
            </script>
        </div>
    </div>
</div>
    </body>
    <footer class="footer navbar-expand-lg navbar-dark bg-primary text-center text-white">
        <div class="footer-copyright">
            <div class="top"> <span> Web Design &amp; Data Analysis by </span>
            </div>
            <div class="bottom"> <span>Sheetal Bongale © 2020</span>
            </div>
        </div>
    </footer>
    <!-- Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    
</html>


